table.historical-table th,
table.historical-table td {
  border-right: 1px solid #f3f3f3 !important;
  border-bottom: 1px solid #f3f3f3 !important;
  background-color: #fff !important;
  padding: 10px;
}

table.historical-table th {
  font-family: 'Montserrat', sans-serif;
}

table.historical-table th {
  font-family: 'Open Sans', sans-serif;
}