<div class="main-navbar d-flex align-items-center shadow-sm">
  <%= link_to "", class: "flex-grow-1 text-primary" do %>
    <h5 class="mb-0 font-weight-bold">Coinjar Test</h5>
  <% end %>

  <%= link_to latest_prices_path, class: "#{action_name == "latest" ? "text-info" : "text-secondary" } mr-4" do %>
    <h5 class="mb-0 font-weight-bold">Latest Prices</h5>
  <% end %>

  <%= link_to prices_path, class: "#{action_name == "index" && params[:type] != "ethereum" ? "text-info" : "text-secondary" } mx-2" do %>
    <h5 class="mb-0 font-weight-bold">Captured Bitcoin Prices</h5>
  <% end %>

  <%= link_to prices_path(type: "ethereum"), class: "#{action_name == "index" && params[:type] == "ethereum" ? "text-info" : "text-secondary" } mx-4" do %>
    <h5 class="mb-0 font-weight-bold">Captured Ethereum Prices</h5>
  <% end %>
</div>

<div class="navbar-padding"></div>